
<div class="jumbotron">
  <h2>Welcome to the land of Swiftpost</h2>
  <p>Snailmail made fast and simple.</p>
</div>

<i class="fa fa-camera-retro fa-2x"></i>

<div class="row">
  <div class="col-md-4 center">
    <i class="fa fa-camera-retro fa-2x"></i>
    <h3>Step 1</h3> Upload a design
  </div>
  <div class="col-md-4 center">
    <h3>Step 2</h3> Select some addresses
  </div>
  <div class="col-md-4 center">
    <h3>Step 3</h3> Pay &amp; order
  </div>
</div>

