<div id="bg">
  <img src="assets/intro-bg.png" alt="">
</div>
<div class ="okay">
  <div class="row">
    <div class="col-md-4 text-center first well" style="color: #e74c3c;">
      <i class="fa fa-upload fa-5x"></i>
      <h1>Step 1</h1>
      <p class="lead">Upload a design</p>
      <p>Quickly drag and drop a PDF of any dimension, ready for high quality printing.<p>
    </div>

    <div class="col-md-4 text-center second well" style="color: #9b59b6;">
      <i class="fa fa-globe fa-5x"></i>
      <h1>Step 2</h1>
      <p class="lead">Select addresses</p>
      <p>Select an age and location for your clientele, or upload a spreadsheet of addresses.<p>
    </div>

    <div class="col-md-4 text-center third well" style="color: #1abc9c;">
      <i class="fa fa-plane fa-5x"></i>
      <h1>Step 3</h1>
      <p class="lead">Pay & order</p>
      <p>Pay a mere dollar a page to promote your event or brand within 2-3 business days.<p>
    </div>
  </div>
</div>
