<div class="home" style="width:100%">
  <h1 style="color: white;">Welcome to Swiftpost, the snailmail manager of the future</h1>
</div>

<div class="row">
  <div class="col-md-4 text-center" style="color: #e74c3c;">
    <i class="fa fa-upload fa-5x"></i>
    <h1>Step 1</h1>
    <p class="lead">Upload a design</p>
    <p>Quickly drag and drop a PDF of any dimension, ready for high quality printing.<p>
  </div>

  <div class="col-md-4 text-center" style="color: #9b59b6;">
    <i class="fa fa-upload fa-5x"></i>
    <h1>Step 2</h1>
    <p class="lead">Select addresses</p>
    <p>Select an age and location for your clientele, or upload a spreadsheet of addresses.<p>
  </div>

  <div class="col-md-4 text-center" style="color: #1abc9c;">
    <i class="fa fa-upload fa-5x"></i>
    <h1>Step 3</h1>
    <p class="lead">Pay & order</p>
    <p>Pay just a dollar a page to get word out about your event or business within 2-3 business days.<p>
  </div>
</div>
