// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#bar { 
 
}



#bg {
	left:0;
	width:100%;
	position: absolute;
	height:100%;
	margin-top: -25px;
}

.okay {
	margin-top: 345px;
}

.first, .second, .third {
	background-color: transparent;
	border-width: 2px;
}